body {
    background-position: center;
    background-size: cover;
}

#title {
    width:90%;
    margin:10px;
    animation: border 1s infinite;
    font-size: 30px;
    font-weight: 500;
}

@keyframes border {
    from{box-shadow: 1px 1px 15px cyan;}
    to{box-shadow: 1px 1px 15px plum;}
}

#back {
    background-color: bisque;
    font-weight: 700;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px black double;
}

canvas {
    border: 2px double black;
    animation: shadow 1s infinite;
    margin-top: 130px;
}

@keyframes shadow {
    from{box-shadow: 1px 1px 15px darkblue;}
    to{box-shadow: 1px 1px 15px rgb(56, 47, 111);}
}